# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
ugv-env/

# Logs
*.log

tutorial_cn/__pycache__/
tutorial_en/.ipynb_checkpoints/
tutorial_cn/.ipynb_checkpoints/
templates/pictures/photo*
templates/videos/video*
**/checkpoints/
